body {
	background-color: silver;
}
#box {
	border: 4px solid deeppink;
	max-width: 940px;
	margin: 10px auto;
	padding: 20px;
	background-color: white;
}

nav {
	text-align: center;
	font-weight: bold;
	color: black;
}
#divider {
	font-size: 1.3em;
}


hr {
	background-color:deeppink;
	border:0;
	height:2px;
}


h1 {
	text-align: center;
	color: deeppink;
}
.omMig {
	white-space: nowrap;
}


p {
	text-align: justify;
}
.presentation {
	margin-bottom: 50px;
}
.utbildningOchLista {
	margin-bottom: 70px;
}
.listaTitel {
	font-weight: bold;
	font-size: 1em;
}
.utbildning {
	font-weight: bold;
}
.skola {
	font-style: italic;
}


img#portratt {
	float: right;
	margin-left: 22px;
	max-width: 100%;
    height: auto;	
}
img#natur {
	float: left;
	margin-right: 28px;
	max-width: 100%;
        height: auto;
}


a.start {
	text-align: center;
	color: deeppink;
}
a.nav {
	color: black;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}


input {
	max-width: 200px;
}
textarea {
    max-width: 900px;
    width: 100%
    height: 200px;
    box-sizing: border-box;
}
legend {
	font-weight: bold;
}
